/* General container styling */
#guideContainer, #reviewContainer {
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.65);
    color: black;
    border-radius: 10px;
    margin: 20px 0;
    border-radius: 10px; /* Add rounded corners to table */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 70px; /*For space between reviews and testimonial */
}

/* Title styling */
#guideContainer h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: black; 
}

/* Steps content styling */
#guideContainer p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

/* Numbered steps styling */
#guideContainer ol {
    list-style-type: decimal;
    padding-left: 20px;
}

#guideContainer ol li {
    margin-bottom: 15px;
}

/* Review section title */
#reviewContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Individual review item */
.review-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Review amount (rating) */
.review-amount {
    font-size: 1.2em;
    color: black; 
}

/* Review text and username */
.review-text {
    font-size: 1em;
    margin-top: 10px;
    line-height: 1.4em;
}

.review-username {
    font-size: 0.9em;
    margin-top: 5px;
    color: black;
}
